*{
  margin: 0;
  padding: 0;
}

body {
    background-image: linear-gradient( to  left, silver,black);
}

body{
  font-family: fantasy;
}

.container {
    display: grid;
    place-items: center;
    width: 100vh;
    height: 100vh;
    margin: auto;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 50px black;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: whitesmoke;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: slategray;
}

.theme-toggler.active::before {
    background-color: whitesmoke;
}

.theme-toggler::before {
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color:slategray;
}

#view {
    margin: 0 10px;
    height: 150px;
    width: 320px;
    display: grid;
    justify-content: flex-start;
    font-size: 30px;
    margin-bottom: 20px;
    box-shadow: inset -1px -1px 7px #ffffff70,
    inset 1px 1px 15px #00000070;
    
  }

button {
    height: px;
    width: 70px;
    border: 0;
    border-radius: 50px;
    margin: 5px;
    font-size: 20px;
    font-family: fantasy;
    cursor: pointer;
    box-shadow: inset -1px -1px 5px slategray,
    inset 1px 1px 15px black;
}

button:hover {
transform:scale(0.8);
}

#equal {
    height: 40px;
}

/* settings for light mode */

.calculator {
    background-color: blanchedalmond;
}

.calculator #view {
    color: slateblue;
} 

.calculator button#delete {
   height: 40px;
   width: 60px;
   background-color: coral;
   color: yellow;
}

.calculator button.numbers {
    background-color: palevioletred;
    color: black;
}

.calculator button.math-function {
    background-color: pink;
    color: orangered;
  }
  
  .calculator button.compute {
    background-color: palegreen;
    color: red;
  }

  

  .calculator.dark {
    background-color: #0c0016;
  }

  .calculator.dark #view {
    color: whitesmoke;
  }

  .calculator.dark button#delete {
    height: 40px;
    width: 60px;
    background-color: darkslategray;
    color: black;
  }

  .calculator.dark button.numbers {
    background-color: indigo;
    color: whitesmoke;
  }

  .calculator.dark button.math-function {
    background-color: midnightblue;
    color: whitesmoke;
  }
  
  .calculator.dark button.compute {
    background-color: darkblue;
    color: orangered;
  }
  .calculator.dark button.decimal {
    background-color: black;
    color: peru;
  }
  